---
layout: default
title: Home
---

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            {% if site.posts.size > 0 %}
            <section class="blog-listing section">
                <div class="section-inner">
                    <h2 class="heading">Latest Posts</h2>
                    <div class="content">
                        {% for post in paginator.posts %}
                        <div class="featured-post">
                            <h3 class="featured-post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                            <div class="post-meta">
                                <span class="date"><i class="fa fa-calendar"></i> {{ post.date | date: "%B %d, %Y" }}</span>
                                <span class="author"><i class="fa fa-user"></i> {{ post.author | default: site.author.name }}</span>
                            </div>
                            {% if post.tags.size > 0 %}
                            <div class="post-tags">
                                {% for tag in post.tags %}
                                <span class="label label-theme">{{ tag }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="featured-post-excerpt">
                                {{ post.excerpt | strip_html | truncatewords: 80 }}
                            </div>
                            <a class="btn btn-cta-secondary" href="{{ post.url | relative_url }}"><i class="fa fa-book"></i> Read Full Post</a>
                        </div>
                        {% endfor %}
                    </div>

                    {% if paginator.total_pages > 1 %}
                    <nav class="pagination-nav">
                        <ul class="pagination">
                            {% if paginator.previous_page %}
                            <li><a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Newer</a></li>
                            {% else %}
                            <li class="disabled"><span>&laquo; Newer</span></li>
                            {% endif %}

                            {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                            <li class="active"><span>{{ page }}</span></li>
                            {% elsif page == 1 %}
                            <li><a href="{{ '/' | relative_url }}">{{ page }}</a></li>
                            {% else %}
                            <li><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if paginator.next_page %}
                            <li><a href="{{ paginator.next_page_path | relative_url }}">Older &raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>Older &raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </section>
            {% else %}
            <section class="section">
                <div class="section-inner">
                    <h2 class="heading">Latest Posts</h2>
                    <p>New posts coming soon. In the meantime, check out my articles on Medium, DEV.to, and LinkedIn in the sidebar.</p>
                </div>
            </section>
            {% endif %}
        </div>

        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            {% include sidebar-blog.html %}
        </div>
    </div>
</div>
