<!-- Javascript -->
<script type="text/javascript" src="{{ '/assets/plugins/jquery-1.11.3.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/plugins/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/plugins/jquery-rss/dist/jquery.rss.min.js' | relative_url }}"></script>
<!-- github activity plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script type="text/javascript" src="{{ '/assets/plugins/github-activity/src/github-activity.js' | relative_url }}"></script>
<!-- custom js -->
<script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
